{% extends 'AppBundle::layout.html.twig' %}

{% block content %}

    {% form_theme form 'bootstrap_3_layout.html.twig' %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-1">
                <h1>Recherchez un article</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-1">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>

        <br>

        {% for id, result in results %}
            <h1>{{ result.baseUrl }}</h1>
            <h3>{{ result.dataCount }} résultats trouvés</h3>

            {% if result.data is iterable %}
                <table class="table-bordered">
                    <thead>
                        <tr class="bg-info">
                            <th>Article</th>
                            <th>Prix</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for key, item in result.data %}
                        <tr>
                            <th>{{ item.name }}</th>
                            <td>{{ item.price }}</td>
                        </tr>

                    {% endfor %}
                    </tbody>
                    <tfoot></tfoot>
                </table>
            {% endif %}

            <br>

        {% endfor %}
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}