{% extends 'AppBundle::layout.html.twig' %}

{% block content %}

    {% form_theme form 'bootstrap_3_layout.html.twig' %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-3">
                <h1>Recherchez un article</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>

        <br>

        {% if searchQuery != null %}
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <h4>Votre recherche : {{ searchQuery }}</h4>
            </div>
        </div>
        {% endif %}

        <br>

        <div class="row">
            <div class="col-lg-2 col-lg-offset-4">
                <table class="table table-bordered">
                    <thead>
                    <tr class="bg-info">
                        <th class="th-site">Site</th>
                        <th>Language</th>
                        <th>EAN support</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for id, site in sites %}
                        <tr>
                            <td class="th-site">
                                <a href="{{ site.baseUrl }}">
                                    <img src="{{ asset('bundles/app/images/sites/') ~ site.logo }}" class="center-block">
                                </a>
                            </td>
                            <td>
                                {% for language in site.language %}
                                    <img src="{{ asset('bundles/app/images/flags/') ~ language }}.png">
                                {% endfor %}
                            </td>
                            <td>
                                {% if site.ean %}
                                    <span class="glyphicon glyphicon-ok icon-green" aria-hidden="true"></span>
                                {% else %}
                                    <span class="glyphicon glyphicon-remove icon-red" aria-hidden="true"></span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

                {% if error != null %}
                    <div class="alert alert-info col-lg-4 col-lg-offset-2" role="alert">{{ error }}</div>
                {% endif %}

                {% for id, result in results %}
                    {% if result.data is iterable %}
                        <table class="table table-bordered">
                            <thead>
                            <tr class="bg-info">
                                <th class="th-site">Site</th>
                                <th class="th-article-fr">Article FR</th>
                                <th class="th-article-de">Article DE</th>
                                <th class="th-price">Prix</th>
                                <th class="th-image">Image</th>
                                <th class="th-ean">EAN/ID</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for key, item in result.data %}
                                <tr>
                                    <td class="th-site">
                                        <img src="{{ asset('bundles/app/images/sites/') ~ result.logo }}" class="center-block">
                                    </td>
                                    <th>
                                        <a href="{{ item.url }}">{{ item.name }}</a>
                                    </th>
                                    <th>
                                        TODO
                                    </th>
                                    <td>
                                        {{ item.price }}
                                    </td>
                                    <td>
                                        {% if item.big_image != null %}
                                            <img class="img-articles" src="{{ item.big_image }}">
                                        {% else  %}
                                            <img class="img-articles" src="{{ item.image }}">
                                        {% endif %}
                                    </td>
                                    <td>
                                        TODO
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot></tfoot>
                        </table>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}