{% extends 'AppBundle::layout.html.twig' %}

{% block content %}

    {% form_theme form 'bootstrap_3_layout.html.twig' %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-3">
                <h1>Recherchez un article</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-3">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                {% for id, result in results %}
                    <h1><a href="{{ result.baseUrl }}">{{ result.siteName }}</a></h1>
                    <h4>{{ result.dataCount }} résultats trouvés</h4>
                    <img src="{{ asset("bundles/app/images/") ~ result.logo }}">
                    {% if result.data is iterable %}
                        <table class="table table-bordered">
                            <thead>
                            <tr class="bg-info">
                                <th class="th-article">Article</th>
                                <th class="th-price">Prix</th>
                                <th class="th-image">Image</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for key, item in result.data %}
                                <tr>
                                    <th><a href="{{ item.url }}">{{ item.name }}</a></th>
                                    <td>{{ item.price }}</td>
                                    <td><img class="img-articles" src="{{ item.image }}"></td>
                                </tr>

                            {% endfor %}
                            </tbody>
                            <tfoot></tfoot>
                        </table>
                    {% endif %}
                    <br>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}